.header {
    grid-area: h;
    background-color: #0670d4;
    border-radius: 5px;
}
.header img {
    width: 45px;
}

.loginBlock {
    float: right;
    padding-right: 40px;
    padding-top: 15px;
}

