/*.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}*/

.dialogsItems {
    padding: 10px;
    color: white;
}

.dialogsItems .active {
    color: gold;
}

.messages {
    padding: 10px;
}

.messages .message {
    color: white;
}


.dialogs {
    grid-column: 2;
    grid-row: 2;
    background-color: #b9c4cc;
    border-radius: 4px;
    height: 100%;
}

